body{
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

main{
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

form{
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

.top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.coments{
  margin-top: 20px;
}
.user{
  display: flex;
  align-items: center;
  gap: 10px;
}

.content{
  margin-top: 20px;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.coment{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

#newpost{
gap: 10px;
}